- name: Define benchmark files
  set_fact:
    benchmark_files:
      - "roles/benchmarking/Benchmark1.jmx"
      # we can add more files

- name: Alter the app ip in the benchmarking .jmx files
  ansible.builtin.replace:
    path: "{{ playbook_dir }}/{{ benchmark_files[0] }}"
    regexp: '(.*)<stringProp name="HTTPSampler.domain">.*'
    replace: '\1<stringProp name="HTTPSampler.domain">{{ app_ip }}</stringProp>'
  
- name: Alter the app port in the benchmarking .jmx files
  ansible.builtin.replace:
    path: "{{ playbook_dir }}/{{ benchmark_files[0] }}"
    regexp: '(.*)<stringProp name="HTTPSampler.port">.*'
    replace: '\1<stringProp name="HTTPSampler.port">{{ app_port }}</stringProp>'


# Java

- name: Check if Java is installed 
  command: java --version
  ignore_errors: true
  register: java_check

- name: Update package manager cache # sudo apt update
  apt:
    update_cache: yes
  become: yes
  when: java_check.rc != 0 

- name: Install Java
  apt:
    name: openjdk-11-jre
    state: present
  become: yes

- name: Find Java Home
  shell: "dirname $(dirname $(update-alternatives --list java | head -n 1))"
  register: java_home_output

- name: Set JAVA_HOME
  set_fact:
    java_home: "{{ java_home_output.stdout }}"


# JMeter
- name: Download JMeter Binaries (Binaries - version 5.6.3)
  get_url:
    url: "https://dlcdn.apache.org//jmeter/binaries/apache-jmeter-5.6.3.tgz"
    dest: "~/apache-jmeter-5.6.3.tgz"

- name: Unzip JMeter Binaries
  unarchive:
    src: "~/apache-jmeter-5.6.3.tgz"
    dest: "~/"
    remote_src: yes

- name: Copy .jmx files to JMeter
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/roles/benchmarking/{{ item }}"
    dest: "~/apache-jmeter-5.6.3/{{ item }}"
  with_items:
    - "Benchmark1.jmx"
  
# Logs

- name: Get current date and time for the benchmarking logs
  set_fact:
    date_time: "{{ lookup('pipe', 'date +%Y-%m-%d_%H-%M-%S') }}"
  register: date_time

- name: Benchmarking 1
  command: >
    ~/apache-jmeter-5.6.3/bin/jmeter -n -t {{ playbook_dir }}/roles/benchmarking/Benchmark1.jmx -l {{ playbook_dir }}/roles/benchmarking/logs/Benchmark1_{{ date_time.ansible_facts.date_time }}.log